<div class="item">
  <p>Title: <%= @req['events'][1]['name']['html'] %></p>
  <img src='<%= @req['events'][1]['logo']['original']['url']%>' alt="">
  <p>Description: <%= @req['events'][1]['description']['html'] %></p>
  <p>Start Date: <%= @req['events'][1]['start']['local'] %></p>
</div>1
